@import "tailwindcss";

body, html{
  background: #fdfbf7;
  scrollbar-width: none;
}
.bg-light {
   background: linear-gradient(180deg, #fdfbf7 0%, #e0ded9 100%)
}

.bg-dark {
  background: #262423;
}

.dark {
  color: #262423;
}