@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  @keyframes gradient-move {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  @keyframes border-spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-move 6s ease infinite;
  }
}


:root {
  --font-m: 'Montserrat', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --border-light:#aba9a1;
  --border-dark: #e3e2e1;
  --btn-light: #c9baaf;
  --btn-dark:#f0eae6;


}




body, html{
  scrollbar-width: none;
  font-family: var(--font-m);
}

.font-lato {
    font-family: var(--font-lato);


}
.font-m {
    font-family: var(--font-m);

}

.light {
background: #f6f4ed;}


.bg-dark {
  background: #2b2a27;
}

#custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #1c1c1b; 
}

#custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

#custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(255, 240, 240);
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffedd3;
  border-radius: 4px;
}

#custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e6d9c6;
}

#custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}





@layer components {
  .card-wrapper {
    @apply relative bg-gradient-to-b from-[#2b2a27] dark:from-[#f6f4ed] overflow-hidden to-[#43423f] dark:to-[#f6f4ed] rounded-[3px];
  }
}

.card-wrapper::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
left: -25%;
top: -25%;
  background: conic-gradient(#fdfcfa 0deg, #dbd8cf 0deg, transparent 80deg);
  animation: border-spin 7s linear infinite;
}

.dark .card-wrapper::before {
  background: conic-gradient(#0c0c0c 0deg, #0f0f0f 0deg, transparent 80deg);
}

.card-content {
position: absolute;

@apply bg-gradient-to-b h-[calc(100%-4px)] w-[calc(100%-4px)] top-[2px] left-[2px] from-[#2b2a27] dark:from-[#f6f4ed] to-[#42403d] dark:to-[#e8e8e6]

}















 
















